# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
coverage/

# IDE
.idea/
.vscode/
*.iml

# Android/Gradle
android/.gradle/
android/local.properties
android/key.properties
**/GeneratedPluginRegistrant.java

# iOS/Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Runner/DerivedData/

# Mac/Windows junk
.DS_Store
Thumbs.db
